<body>
    <header>
        <div class="contenedor">


        </div>
    </header>

    <section class="main">
        <section class="acerca-de">
            <div class="contenedor">
                <div class="foto">
                    <img src="../public/img/oscar.jpg" width="115" height="115" alt="Oscar eduardo">
                </div>

                <div class="texto">
                    <h3 class="titulo">Ingeniero de sistemas</h3>
                    <h3 class="titulo">Oscar eduardo rodriguez castro</h3>
                    <p>Ingeniero con especializacion en software</p>
                </div>
            </div>
        </section>



        <section class="trabajos">
            <div class="contenedor">
                <h3 class="titulo">PROYECTOS</h3>
                <div class="contenedor-trabajos">
                    <div class="card" style="width: 18rem;">
                        <img src="../public/img/trabajoequipo.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../public/img/trabajoequipo.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../public/img/trabajoequipo.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

        </section>




         <section class="trabajos">
            <div class="contenedor">
                <h3 class="titulo">trabajos desempeñados</h3>
                <div class="contenedor-trabajos">
                    <div class="card " style="max-width: 15rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h5 class="card-title">Light card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <div class="card " style="max-width: 15rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h5 class="card-title">Light card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <div class="card " style="max-width: 15rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h5 class="card-title">Light card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <div class="card " style="max-width: 15rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h5 class="card-title">Light card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    </section>

    <footer>
        <section class="redes-sociales">
            <div class="contenedor">
                <p class="footertext">@2020 Diseño y Desarrollo: Oscar eduardo rodriguez castro</p>

            </div>
        </section>
    </footer>


</body>